@model LMC_Other_InventoryData.DB_Models.LMC_PalletExact_GetPalletExactSummaryLastLabelDate_Model

@{
    ViewData["Title"] = "Last Label Date";
}

<div class="container mt-4">

    <h2 class="text-center mb-4">Get Last Label Date</h2>

    <form asp-controller="LMC_PalletExact_GetPalletExactSummaryLastLabelDate" asp-action="Index" method="get">
        <div class="row">
            <div class="col-md-4">
                <label asp-for="ProductNumber" class="form-label fst-italic">Product Number:</label>
                <input asp-for="ProductNumber" type="text" class="form-control" required />
            </div>
            <div class="col-md-4">
                <label asp-for="RunStartDate" class="form-label fst-italic">Start Date:</label>
                <input asp-for="RunStartDate" type="date" class="form-control" value="@Model?.RunStartDate.ToString("yyyy-MM-dd") ?? string.Empty)" required />
            </div>

            <div class="col-md-4">
                <label asp-for="RunEndDate" class="form-label fst-italic">End Date:</label>
                <input asp-for="RunEndDate" type="date" class="form-control" value="@Model?.RunEndDate.ToString("yyyy-MM-dd") ?? string.Empty)" required />
            </div>
        </div>

        <div>
            <button type="submit" class="btn btn-primary mt-2">Apply data rage</button>
        </div>
    </form>

    @if (Model != null)
    {
        <div>
            <h3>Result:</h3>
            <p>Last Label Date: @Model.LastLabelDate.ToString("yyyy-MM-dd HH:mm:ss")</p>
        </div>
    }
    else
    {
        <div>
            <p>No data available for the selected data range</p>
        </div>
    }


</div>
