@model LMC_Other_InventoryData.DB_Models.LMC_PalletExact_GetPalletExactSummaryLastLabelDate_Model

@{
    ViewData["Title"] = "Last Label Date";
}

<div class="container mt-4">

    <h2 class="text-center mb-4">Get Last Label Date</h2>

    <form asp-controller="LMC_PalletExact_GetPalletExactSummaryLastLabelDate" asp-action="Index" method="get">
        <div class="row">
            <div class="col-md-4">
                <label for="productNumber">Product Number:</label>
                <input type="text" id="productNumber" name="productNumber" required />
            </div>
            <div class="col-md-4">
                <label for="runStartDate">Run Start Date:</label>
                <input type="date" id="runStartDate" name="runStartDate" required />
            </div>

            <div class="col-md-4">
                <label for="runEndDate">Run End Date:</label>
                <input type="date" id="runEndDate" name="runEndDate" required />
            </div>
        </div>

        <div>
            <button type="submit" class="btn btn-primary mt-2">Submit</button>
        </div>
    </form>

    @if (Model != null)
    {
        <div>
            <h3>Result:</h3>
            <p>Last Label Date: @Model.LastLabelDate.ToString("yyyy-MM-dd HH:mm:ss")</p>
        </div>
    }
    else
    {
        <div>
            <p>No data available for the selected data range</p>
        </div>
    }


</div>
