@model LMC_Other_InventoryData.DB_Models.LMC_PalletExact_GetPalletExactSummaryLastLabelDate_Model

<div>
    <h3>No Data Available</h3>
    <p>No data available for the selected data range.</p>
</div>