@model LMC_Other_InventoryData.DB_Models.LMC_SyncTime_UpdateSyncTimeUploadRecords_Model

@{
    ViewData["Title"] = "Upload Records";
}



<div>
    <h1>Update Sync Time Upload Records</h1>

    <p>Status: @Model.Status</p>
</div>


